body{
    margin: 0;   /*  Internal displacement*/
    display: flex;  /* Horizontal Flexible */ 
    justify-content: center;  /* Up in the middle */
    height: 100vh;   /*Website height  */
    align-items: center;  /*center Vertical */
    background-color: aliceblue; /*Website body color*/
    font-family: sans-serif;  /*Website body font-family*/
}


.putton{
    background-color: pink;  /*the background color of the putton*/
    padding: 20px 40px; /* External displacement*/
    border-radius: 5px; /*It controls the properties of the shape and accepts four directions from you*/ 
    box-shadow: 0 4px 8px rgba(0,0,0,.3);  
    text-decoration: none; /*remove inline*/
    color: black; /*Add color putton*/
    position: relative; /*Add that the buttons are the father*/ 
    overflow: hidden; /*hide the increase*/
} 

.putton span{
    position: relative; /*Add that the buttons are the father*/ 
    z-index: 1;  /*To make the item the last one*/
}


.putton::before{ 
    content: ""; /*To invoke a theme written in html*/
    position: absolute; /*Add that the buttons are the Son*/
    background-color: orangered; /*the background color of the putton before*/
    width: 0; /*width putton before  they pressed*/
    height: 0;  /*height putton before they pressed*/
    left:var(--xPos) ;   /*left putton before they pressed*/
    top:var(--yPos);   /*top putton before they pressed*/
    transform: translate(-50%, -50%); 
    border-radius: 50%;  /*border-radius:its size 50%*/
    transition: width .5s, height 0.5s; /*transition width,height*/ 
}

.putton:hover::before{
    width: 300px;   /*width putton hover before they pressed*/
    height: 300px;  /*height putton hover before they pressed*/
}